body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.mainButton{
    background-color: green;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 1px gray;
}

.mainButton:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.secondaryButton{
    background-color: rgb(8, 243, 8);
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 1px gray;
}

.secondaryButton:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
}

.buscar:focus-within{
    border: 1px solid rgb(2, 61, 2);
}

.buscar > input{
    outline: none;
    border: 0px;
}
]